
<html>
  <head>
    <script>
      const socket = new WebSocket('ws://localhost:3003');
      console.log('connecting...');
      const txid = prompt('TXID');
      document.write('Listen TXID ' + txid);
      socket.onopen = function() {
        console.log('Connected');
        socket.onmessage = function(data) {
          console.log(data);
        }

        socket.send(JSON.stringify({
          event: 'pix-mock',
          data: { txid }
        }));
    }
    </script>
  </head>

  <body></body>
</html>